body {
  text-align: center;
  font-family: Helvetica;
}

#home {
  color: white;
  background-image: url("./images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

nav .home {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p #process {
  font-size: 14px;
}
a {
  color: white;
}

.new_york {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("./images/the-flatiron-building.png");
}

#footer {
  color: white;
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
}
